@{ 
    Layout = null;
}
<!DOCYTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Ji ASP.NET MVC</h1>
        <h2>Basic</h2>
        <hr />
    </div>
</body>
</html>
