@model MVCExample.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PostIndex14</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <h1>@Model.Age</h1>
    <h1>@Model.Region</h1>
    <h1>@Model.Sex</h1>
</body>
</html>
